*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  color: var(--primary-color);
  height: 100svh;
  padding: 0 10rem;
  width: 100svw;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --background-color: linear-gradient(
    to bottom,
    #87ceeb,
    #e0f7fa
  );
  --buttground-color: linear-gradient(
    135deg,
    rgba(14, 165, 233, 0.5),
    rgba(14, 165, 233, 0.2)
  );
  --foreground-color: rgba(255, 255, 255, 0.25);
  --color-neutral-1: #1e3a8a;
  --color-neutral-2: #334155;
  --color-neutral-3: #ffffff;

  --color-primary-1: #0ea5e9;
  --color-primary-2: #0284c7;

  --color-secondary-1: rgba(255, 255, 255, 0.4);
  --color-secondary-2: rgba(255, 255, 255, 0.25);
  --color-secondary-3: rgba(0, 0, 0, 0.2);
  --color-secondary-4: rgba(0, 0, 0, 0.1);
}
