.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10svh;
  width: 100%;
  /* background: var(--color-secondary-2); */
  /* border-bottom: 1px solid var(--color-secondary-1); */
  /* backdrop-filter: blur(12px); */
  /* padding: 0 var(--space-md); */
}

.logo {
  align-self: center;
  font-size: var(--fs-md); /* fluid typography */
  font-weight: bold;
  min-width: 7rem;
}

.ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  min-width: clamp(30rem, 40%, 60rem);
}

.li {
  font-size: var(--fs-sm);
}

.li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--color-neutral-3);
  transition: width 0.3s ease-in-out;
}

.li:hover::after {
  width: 100%;
}

.button {
  background: var(--buttground-color);
  padding: var(--space-xs) var(--space-xs);
  border-radius: var(--space-sm);
  cursor: pointer;
  color: var(--color-neutral-3);
}

.button:hover {
  background: var(--buttground-color-hover);
}
