.navbar {
  display: flex;
  justify-content: flex-end;
  min-height: 10svh;
  width: 100%;
  gap: 4rem;
  background: var(--color-secondary-2);
  border-bottom: 1px solid var(--color-secondary-1);
  backdrop-filter: blur(12px);
}

.ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  width: 40%;
}
.ul > li {
  background: var(--buttground-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-secondary-1);
  box-shadow: 0 4px 16px var(--color-secondary-4);
  backdrop-filter: blur(6px);
}
